.Navigation {

	ul, li {
		display:inline;
		margin: 5;
		padding: 0;
	}

	a {
		text-decoration: none;
		color: var(--active);

		&:hover{
			background: var(--dark-active);
			color: white
		}

	}
	
}